div[myCtl="Album"] {
    margin: 0px auto;
}

    div[myCtl="Album"] .ctlPrevNext {
        position: absolute;
        z-index: 100;
        display: none;
    }

    div[myCtl="Album"] .btnPrev, div[myCtl="Album"] .btnNext {
        background-image: url(../App_imgs/back_gtlt.png);
        width: 40px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 4px;
        cursor: pointer;
        background-color: silver;
        opacity: 0.4;
    }

    div[myCtl="Album"] .btnPrev {
        float: left;
        background-position: bottom;
    }

    div[myCtl="Album"] .btnNext {
        float: right;
    }

    div[myCtl="Album"] .imgHolder {
        text-align: center;
    }

        div[myCtl="Album"] .imgHolder img {
            max-height: 100%;
            max-width: 100%;
        }


    /****缩略图层***/
    div[myCtl="Album"] .divShortCutHolder {
        border: 1px solid #c1c1c1;
        border-radius: 5px;
        padding: 10px 140px 10px 10px;
        background-color: #fafafa;
        background-image: url(../App_imgs/back_album_short.png);
        background-repeat: no-repeat;
        background-position: right top;
    }

        div[myCtl="Album"] .divShortCutHolder a {
            display: block;
            float: left;
            border: 1px solid #BBB;
            height: 30px;
            margin: 4px;
            cursor: pointer;
            padding: 3px;
        }

            div[myCtl="Album"] .divShortCutHolder a:hover {
                border: 1px solid #999;
            }

            div[myCtl="Album"] .divShortCutHolder a img {
                height: 30px;
            }
