body, div, p, ul, li, h1, h2, h3, h4, h5, h6, table {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}

/*通用类*/
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.clr {
    clear: both;
}

.al_r {
    text-align: right;
}

.al_l {
    text-align: left;
}


.safeWidth {
    margin: 0px auto;
    width: 760px;
}

.error {
    color: red;
}



/*特殊文本样式*/
/*1.警告文字样式*/
.txt_warn {
    font-size: 12px;
    color: red;
}




/*母版页结构*/
#divmst_topBar, #divmst_copyRight {
    background-color: black;
    padding: 8px;
}

#divmst_copyRight {
    color: gray;
    font-size: 12px;
}

#divmst_submenuList {
    min-height: 100px;
    background-image: url(../App_imgs/back_foot2.png),url(../App_imgs/back_foot1.png);
}

/*sitemapPath*/
#divmst_sitemapPath {
    padding-right: 20px;
    height: 0px;
    text-align: right;
    font-size: 12px;
    color: white;
    position: relative;
    top: 12px;
}

    #divmst_sitemapPath a {
        color: white;
    }



/*Quick Links*/
.tbl_quickLinks{width:95%;padding:15px 0px 15px 0px;}
.tbl_quickLinks td{vertical-align:top;text-align:center;}
.tbl_quickLinks td+td{border-left:1px dotted #aaa;}
.tbl_quickLinks ul{ list-style:none;font-size:14px;}
.tbl_quickLinks li{padding:2px;}
.tbl_quickLinks a{color:#444;}
.tbl_quickLinks a:hover{color:black;}
.tbl_quickLinks .submenuTitle{color:black;font-weight:bold;font-size:14px;line-height:25px;}





/*各种超链接*/
a {
    text-decoration: none;
}
/*topBar3个超链接*/
#a_eEnter, #a_setHome, #a_setFav {
    color: #AEAEAE;
    font-size: 12px;
    padding: 2px 0px 2px 16px;
    margin-left: 5px;
    background-image: url(../App_imgs/back.png);
    background-repeat: no-repeat;
}

#a_setHome {
    background-position: 0px -20px;
}

#a_setFav {
    background-position: 0px -40px;
}

#divmst_topBar a:hover {
    color: white;
}



/*主导航*/
#menu_mainNav * {
    outline: none;
}

#menu_mainNav a {
    display: block !important;
    padding: 20px 10px 20px 10px !important;
    margin-left: 7px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 6px solid white;
    border-right: 1px solid white;
    color: black;
    font-size: 15px;
}

    #menu_mainNav a:hover, #menu_mainNav a.selected {
        border-top: 6px solid #FAB41E;
        border-bottom: 1px solid #d1d1d1;
        border-right: 1px solid #eaeaea;
        background-color: #fafafa;
        color: #ffaa11;
    }



/*子菜单*/
/*submenuHolder 宽度：120px*/
.submenuHolder {
    width: 100px;
    padding: 10px;
    padding-bottom: 35px;
    background-image: url('../App_imgs/back_submenu.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #A0A0A0;
}

    .submenuHolder ul {
        list-style: none;
    }

    .submenuHolder li {
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid silver;
    }

        .submenuHolder li:hover {
            background-color: silver;
            background-image: url('../App_imgs/back_listitem.png');
            background-repeat: no-repeat;
            background-position: right center;
        }

            .submenuHolder li:hover a {
                color: black;
            }

    .submenuHolder a {
        color: #444;
    }





/*子页面结构*/
/*1.子菜单：在“子菜单”块定义*/
/*2.不包含子菜单的内容层：.safeWidth层*/
/*3.与子菜单并列的内容层*/
div.mainContent {
    float: left;
    width: 610px;
    padding: 10px 0px 15px 10px;
}



/*分页控件*/
/*注意定义步骤*/
/*1.定义外框*/
div.divPager {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

/*2.定义不活动按钮：.aspNetDisabled为系统分配的类名*/
.divPager .aspNetDisabled {
    color: silver;
    background-color: white;
}

/*3.定义页码项通用格式，包括活动链接，非活动链接，当前页*/
.divPager a, .divPager span span {
    padding: 3px 10px;
    border: 1px solid #dadada;
    border-radius: 4px;
    color: #666;
    background: #f3f3f3;
}

    /*4.活动超链接hover伪类 [非活动超链接没有href属性(系统设定)]*/
    /*5.覆盖当前页样式*/
    .divPager a[href]:hover, .divPager span span {
        background-color: #fc0;
        color: black;
    }



/*各类标题样式*/
/*子页大标题*/

/*子页大标题：label实现*/
.labSubpageTitle {
    display: block;
    padding: 8px 12px;
    background-color: #A0A0A0;
    border-bottom: 12px solid #808080;
    font-size: 18px;
    color: #ffdd33;
    font-weight: bold;
}

/*子页子标题：label实现*/
.labSubpageSubTitle {
    display: block;
    padding: 6px 10px;
    font-size: 16px;
    background-color: #e0e0e0;
}





/*子页面特定样式*/
/*新闻详情页样式*/
.newsDetail {
}

    .newsDetail .newsTitle {
        text-align: center;
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding: 15px;
        color: #444;
    }

    .newsDetail p.newsDateTime {
        font-size: 12px;
        color: gray;
        text-align: center;
        line-height: 2em;
    }

    .newsDetail div.newsContent {
        padding: 10px;
    }


/*ckeditor下元素样式定义*/
.cke_show_borders {
    font-size: 12px;
    color: #444;
    line-light: 1.8em;
}

    .cke_show_borders p {
        text-indent: 2em;
    }





/*新闻列表页特殊结构*/
.newsListItem {
    margin-top: 10px;
    padding: 8px;
    border-bottom: 1px dotted #e0e0e0;
    cursor: pointer;
}

    .newsListItem hover {
        background: #f8f8f8;
    }

    .newsListItem img {
        width: 140px;
        padding: 3px;
        border: 1px solid silver;
        float: left;
    }

    .newsListItem .divText {
        width: 435px;
        margin-left: 10px;
        float: left; /*或者float:right;都是可以的;*/
    }

        .newsListItem .divText h4 {
            float: left;
            color: black;
        }

        .newsListItem .divText span {
            float: right;
            font-size: 12px;
            color: gray;
        }

        .newsListItem .divText p {
            clear: both;
            font-size: 13px;
            color: #666;
            text-indent: 2em;
            padding-top: 5px;
        }



/*表单结构 及 表单内部元素样式*/
.divSubmitForm {
}

    .divSubmitForm p {
        padding: 3px 0px 6px 0px;
    }

    .divSubmitForm input[type=text], .divSubmitForm textarea {
        padding: 3px;
        border: 1px solid silver;
        border-radius: 3px;
        max-width: 450px;
        max-height: 120px; /*设置最大宽度和高度是为了用户在页面写入太多行文本是不至于破坏页面结构*/
    }

    .divSubmitForm .btn {
        padding: 6px 10px;
    }



/*表单填写后 提示内容样式*/
.divInfo_success {
    padding: 20px;
    border: 1px solid #fab41e;
    border-radius: 5px;
    text-align: center;
}

    .divInfo_success h4 {
        margin: 5px;
        font-weight: normal;
    }



/*产品相关样式*/
/*1. seriesList.aspx*/
.lv_prodList a {
    display: block;
    float: left;
    border: 1px solid #e1e1e1;
    margin: 10px;
    color: #e90;
}

    .lv_prodList a:hover {
        color: #fb0;
        border: 1px solid silver;
    }


.lv_prodList img {
    width: 180px;
}

.lv_prodList span {
    display: block;
    padding: 5px;
}




/*产品详情页页面样式*/
.divMainImgHolder {
    float: left;
    text-align: center;
    width: 400px;
    padding: 14px;
    border: 1px solid #dadada;
}

    .divMainImgHolder img {
        max-width: 85%;
    }

.divMainInfo {
    float: left;
    margin-left: 25px;
}

    .divMainInfo .labProdName {
        font-size: 24px;
        color: #444;
    }

    .divMainInfo hr {
        height: 0px;
        border: none;
        border-top: 1px dotted silver;
    }

    .divMainInfo table {
        font-size: 12px;
        color: #444;
    }

    .divMainInfo td {
        padding: 4px;
    }

    .divMainInfo .tdSeries {
        font-size: 18px;
        color: orange;
    }

    .divMainInfo .tdContent {
        color: gray;
    }


.divTabButtons {
    text-align: right;
    padding-right: 15px;
}

.tabButton {
    border: 1px solid silver;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 6px;
    display: inline-block;
    color: gray;
    font-size: 14px;
    cursor: pointer;
    background-color: #f8f8f8;
}

    .tabButton.now {
        background-color: white;
        border-bottom: 1px solid white;
    }

    .tabButton:hover {
        color: orange;
    }


.divTabs {
    border: 1px solid silver;
    margin-top: -1px;
    padding: 10px;
}

    .divTabs .divTab {
        display: none;
    }

        .divTabs .divTab[tabid='feature'] {
            display: block;
        }




/*首页相关元素设置*/
.divHomeAlubumHolder {
    background-color: #282828;
    padding: 3px;
}


/*推送产品*/
.divPushProds{
    margin:10px 0px;
}

.divPushProds a{
    display:inline-block;
    width:24%;
    color:gray;
}

.divPushProds a:hover{
    color:orange;
}

.divPushProds img{
    width:95%;
    
}

.divPushProds p{
    text-align:center;
    font-size:14px;
    padding:10px;
}





/*推送新闻和视频*/
#news_and_video{
    margin-top:30px;
    margin-bottom:30px;
}

#div_pushNews{
    float:left;width:400px;
}
#div_pushNews div{
    margin :10px 10px 10px 0px;
}

#div_video{
    float:left;width:360px;
}


.pushnewsItem{
    display:block;
    padding:5px;border-bottom:1px dashed #dadada;
    font-size:12px; color:#555;
}
.pushnewsItem:hover p{
    color:orange;
}


