/*显示样式1*/
div .ctl_outline[MyCtl="serch"][CtlSkin="skin1"] {
    padding: 5px;
    background-color: #a0a0a0;
    font-size: 12px;
    color: white;
    border-bottom: 2px solid gray;
}

    div .ctl_outline[MyCtl="serch"][CtlSkin="skin1"] .title {
        font-size: 14px;
        color: #fd0;
    }

    div .ctl_outline[MyCtl="serch"][CtlSkin="skin1"] .divKey {
        border-bottom: 4px solid gray;
        padding: 3px;
    }

    div .ctl_outline[MyCtl="serch"][CtlSkin="skin1"] .divCondition {
        padding: 4px;
    }

        div .ctl_outline[MyCtl="serch"][CtlSkin="skin1"] .divCondition p {
            float: left;
            padding: 4px;
        }

        div .ctl_outline[MyCtl="serch"][CtlSkin="skin1"] .divCondition span {
            float: left;
            padding: 4px;
        }

        div .ctl_outline[MyCtl="serch"][CtlSkin="skin1"] .divCondition hr {
            clear: both;
            height: 0px;
            border: none;
            border-top: 1px dashed silver;
        }






/*显示样式:home*/
div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fdedbc;
    font-size: 12px;
    color: #666;
    border: 2px solid orange;
}


    div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] input[type='submit'] {
        padding: 3px 10px 3px 10px;
        border: 1px solid orange;
        color: gray;
        background-color: #ffeebb;
        cursor: pointer;
    }

        div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] input[type='submit']:hover {
            background-color: #ffeebb;
            color: black;
        }


    div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] .title {
        font-size: 14px;
        color: #444;
    }

    div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] .divKey {
        border-bottom: 1px solid orange;
        padding: 6px;
    }

    div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] .divCondition {
        padding: 6px;
    }

        div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] .divCondition p {
            float: left;
            padding: 4px;
        }

        div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] .divCondition span {
            float: left;
            padding: 6px;
        }

        div .ctl_outline[MyCtl="serch"][CtlSkin="skin_home"] .divCondition hr {
            clear: both;
            height: 0px;
            border: none;
            border-top: 1px dashed silver;
        }
